<h1>New article</h1>

<div>
  ○○月××日
  <br />
  <%= simple_format <<CONTEXT
  直前の日記の内容直前の日記の内容直前の日記の内容直前の日記の内容
  直前の日記の内容直前の日記の内容直前の日記の内容直前の日記の内容
  直前の日記の内容直前の日記の内容直前の日記の内容直前の日記の内容
  直前の日記の内容直前の日記の内容直前の日記の内容直前の日記の内容
CONTEXT
  %>
</div>

<div>
<%= render 'form' %>
</div>

<%= link_to 'Back', articles_path %>

