<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<%= link_to '修正する', edit_member_article_path(@article.member, @article) %> |
<%= link_to '次の人へ', baton_pass_member_article_path(@article.member, @article), method: :put %>
