<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<%= link_to 'Edit', edit_member_article_path(@article.member, @article) %> |
<%= link_to 'Back', articles_path %>
