<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<%= link_to '修正する', edit_diary_article_path(@article.member.diary, @article) %> |
<%= link_to '次の人へ', '#', method: :put %>
