<!DOCTYPE html>
<html>
  <head>
    <title>交換日記</title>
    <%= stylesheet_link_tag "welcome" %>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        &nbsp;
      </div>
      <% if current_user %>
        <%= link_to '日記一覧ページへ', diaries_path, id: "button_area" %>
      <% else %>
        <%= link_to '日記にログインする', '/auth/twitter?x_auth_access_type=write', id: "button_area" %>
      <% end %>
    </div>
  </body>
</html>
