<!DOCTYPE html>
<html>
  <head>
    <title>交換日記</title>
    <%= stylesheet_link_tag "welcome" %>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        &nbsp;
      </div>
      <%= link_to '日記をはじめる', '/auth/twitter', id: "login_area" %>
    </div>
  </body>
</html>
