<!DOCTYPE html>
<html>
  <head>
    <title>交換日記</title>
    <%= stylesheet_link_tag "welcome" %>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        &nbsp;
      </div>
      <% if current_user %>
        <%= link_to '日記一覧', diaries_path, id: "_area" %>
      <% else %>
        <%= link_to '日記をはじめる', '/auth/twitter', id: "login_area" %>
      <% end %>
    </div>
  </body>
</html>
