body {
    background: url(back.png);
}

#pre_tag {
    margin: 0 0 -6px 15px;
}

#back_tag {
    margin: 0 15px -6px 0;
    float: right;
}

#note_area {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 600px;
}

#note_area #ring_area {
    float: left;
    background: url(ring.png);
    height: 600px;
    width: 90px;
}

#note_area #pre_content {
    float: left;
    height: 600px;
    width: 470px;
    padding-left: 25px;
}

#note_area #new_content {
    float: right;
    height: 600px;
    width: 480px;
    padding-top: 20px;
}

#note_area #canvas {
    width: 444px;
    height: 130px;
    border: 1px solid #000000;
}